.review .all-reviews .reviews-box {
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    position: relative;
}
.review .all-reviews .reviews-box .personal-data{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.review .all-reviews .reviews-box .personal-data .name {
    color: var(--black);
    font-size: 1.4rem;
}

.review .all-reviews .reviews-box .personal-data img {
    border-radius: 50%;
    width: 5rem;
}

.review .all-reviews .reviews-box p {
    font-size: 1.3rem;
    line-height: 2;
    color: var(--light-color);
}

.review .all-reviews .reviews-box .qoute-icon {
    position: absolute;
    font-size: 3rem;
    top: 1rem;
    right: 1.5rem;
    color: #6666667a;
}